<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja</title>
    <link rel="stylesheet" href="../public/styles/homepage.css">
</head>
<body>

    <!-- Header -->
    <header>
        <div class="header-container">
            <div>
                <h1>TECH BLOG</h1>
                <p class="subtitle">A NET Technologie SITE</p>
            </div>
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/userPosts">MY POSTS</a></li>
                    <li><a href="/newPost">NEW POST</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Blog Posts Section -->
    <main class="container">
        <h2>All Posts</h2>
        <div class="post-list">
            
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p>Copyright © Blog Ninja 2020</p>
    </footer>
    <script src="../public/scripts/homePage.js"></script>
</body>
</html>
